html,
body {
    height: 100%;
}

body {
    background: black;
}

#ad-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.icon-close {
    position: absolute;
    /* For Android
    width: 62px;
    height: 62px;
    top: 50px;
    left: 50px;
    */
    width: 25px;
    height: 25px;
    top: 20px;
    left: 20px;
    padding: 0px;
    display: none;
}

.icon-close-line {
    stroke: #FFF;
    stroke-width: 7%;
    stroke-linecap: round;
    fill: none;
}