html,
body,
#video-container,
#ad-container,
#ad-container > div {
    height: 100%;
    width: 100%
}

body {
    background: black;
}

#ad-container > div {
    position: relative;
}

#ad-container > div > video {
    position: absolute;
}

.icon-close {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 20px;
    left: 20px;
    padding: 0px;
    display: none;
}

.icon-close-line {
    stroke: #FFF;
    stroke-width: 7%;
    stroke-linecap: round;
    fill: none;
}